<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">ANUNCIOS</span>  
                    <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>
                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Persona</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Tiempo</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>Joel</th>
                            <td>Matemáticas</td>
                            <td>Barcelona</td>
                            <td>2h</td>
                            <td>
                                <i class="fas fa-user-edit"></i>
                                <i class="fas fa-trash"></i>
                            </td>
                          </tr>
                          <tr>
                            <th>Axel</th>
                            <td>Termodinámica</td>
                            <td>Barcelona</td>
                            <td>3h</td>
                            <td>
                                <i class="fas fa-user-edit"></i>
                                <i class="fas fa-trash"></i>
                            </td>
                          </tr>
                          <tr>
                            <th>Daniel</th>
                            <td>Futsal</td>
                            <td>Barcelona</td>
                            <td>1h</td>
                            <td>
                                <i class="fas fa-user-edit"></i>
                                <i class="fas fa-trash"></i>
                            </td>
                          </tr>
                          <tr>
                            <th>Gabriel</th>
                            <td>Business</td>
                            <td>Castelldefels</td>
                            <td>5h</td>
                            <td>
                                <i class="fas fa-user-edit"></i>
                                <i class="fas fa-trash"></i>
                            </td>
                          </tr>
                          <tr>
                            <th>Cristian</th>
                            <td>E-Sports</td>
                            <td>Corbera</td>
                            <td>4h</td>
                            <td>
                                <i class="fas fa-user-edit"></i>
                                <i class="fas fa-trash"></i>
                            </td>
                          </tr>
                          <tr>
                            <th>Alex</th>
                            <td>Baloncesto</td>
                            <td>Barcelona</td>
                            <td>3h</td>
                            <td>
                                <i class="fas fa-user-edit"></i>
                                <i class="fas fa-trash"></i>
                            </td>
                          </tr>
                          <tr>
                            <th>Toni</th>
                            <td>Programación</td>
                            <td>Castelldefels</td>
                            <td>9h</td>
                            <td>
                                <i class="fas fa-user-edit"></i>
                                <i class="fas fa-trash"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
