<div class="clockstrip">
    <h1 class="title">
        InTime cambia tu tiempo por más tiempo 
    </h1> 
    <img class="clock" src="../../assets/images/clock.png" alt="clock">
</div>

<div class="community">
    <img class="communityimg" src="../../assets/images/community.jpg" alt="community">
    <div class="text">
    <h1 class="message">
        Crea una comunidad donde el dinero no tiene significado 
    </h1>
    <h1>
        Intercambia el tiempo por tiempo 
    </h1>

    </div>
</div>